#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.mainHeading {
  margin: 21.5px 100px;
}

.card {
  color: white;
  background-color: rgb(109, 182, 246);
  height: 300px;
  width: 250px;
  margin: 20px;
}

.card img {
  height: 100px;
}

.read-the-docs {
  color: #888;
}
